.principal{
  
  width: auto;
  height: 100%;
  margin-top: 50px;
  padding: 2px;
}

.films{
    background-color: #4e4e4e;
    margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 200px;
  margin-right: 200px;
  width: auto;
  height: auto;
  border: 3px solid;
  border-color: black;
  padding: 2px;
  color: rgb(116, 10, 10); 
  border-radius: 50px;
  box-shadow: rgba(116, 10, 10, 0.4) 5px 5px, rgba(116, 10, 10, 0.3) 10px 10px, rgba(116, 10, 10, 0.2) 15px 15px, rgba(116, 10, 10, 0.1) 20px 20px, rgba(116, 10, 10, 0.05) 25px 25px;
}

.tvshow{
    background-color: #4e4e4e;
    margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 200px;
  margin-right: 200px;
  width: auto;
  height: auto;
  border: 3px solid;
  border-color: black;
  padding: 2px;
  color: rgb(116, 10, 10); 
  border-radius: 50px;
  box-shadow: rgba(116, 10, 10, 0.4) 5px 5px, rgba(116, 10, 10, 0.3) 10px 10px, rgba(116, 10, 10, 0.2) 15px 15px, rgba(116, 10, 10, 0.1) 20px 20px, rgba(116, 10, 10, 0.05) 25px 25px;
}

.anime{
    background-color: #4e4e4e;
    margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 200px;
  margin-right: 200px;
  width: auto;
  height: auto;
  border: 3px solid;
  border-color: black;
  padding: 2px;
  color: rgb(116, 10, 10); 
  border-radius: 50px;
  box-shadow: rgba(116, 10, 10, 0.4) 5px 5px, rgba(116, 10, 10, 0.3) 10px 10px, rgba(116, 10, 10, 0.2) 15px 15px, rgba(116, 10, 10, 0.1) 20px 20px, rgba(116, 10, 10, 0.05) 25px 25px;
}

h2{
    font-weight: bold;
    text-align: center;
    font-size: 40px;
}

p{
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
}

.pahover{
  text-decoration: underline;
  font-weight: bold;
  font-size: 25px;
  box-shadow: rgb(133, 131, 131) 3px 3px 6px 0px inset, rgba(133, 131, 131,0.5) -3px -3px 6px 1px inset;
  border-radius: 100px;
  font-family: Arial, sans-serif;
  text-transform: capitalize;
  letter-spacing: 2px;
}

.pahover:hover{
  color: white;
  text-decoration: underline;
  font-weight: bold;
}