.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url("../../../public/img/Captura_de_pantalla_2024-04-04_181522-transformed.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position:  center; 
  background-color: rgb(211, 204, 204); 
}

header {
  background-color: #4e4e4e;
  height: 80px;
}

.container {
  display: flex;
  flex: 1;
}

.bar {
  background-color: #4e4e4e;
}

.navheader{
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
}

.navfooter{
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.content {
  flex: 1;
  padding: 20px;
}

.link {
  text-decoration: none; 
  color: rgb(116, 10, 10); 
  font-weight: bold;
}

.invisible{
  color:  #4e4e4e;
  font-size: 8px;
  user-select: none;
}