.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url("../../../public/img/Captura_de_pantalla_2024-04-04_181522-transformed.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position:  center; 
  background-color: rgb(238, 234, 234); 
}

header {
  background-color: #4e4e4e;
  height: 60px;
  border: 3px solid;
  border-color: black;
  border-radius: 0px 0px 25px 25px;
  box-shadow: rgba(116, 10, 10, 0.56) 0px 22px 70px 4px;
}

.container {
  display: flex;
  flex: 1;
}

.bar {
  background-color: #4e4e4e;
  border: 3px solid;
  border-color: black;
  border-radius: 25px 25px 0px 0px;
  box-shadow: rgba(116, 10, 10, 0.56) 22px 22px 70px 40px;
}

.navheader{
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
}

.navfooter{
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.content {
  flex: 1;
  padding: 20px;
}

.link {
  text-decoration: none; 
  color: rgb(116, 10, 10); 
  font-weight: bold;
}

.invisible{
  color:  #4e4e4e;
  font-size: 8px;
  user-select: none;
}

.perfil{
  margin-top: 18px;
}

.titulo{
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-top: -15px;
}