.portadaAll{
    background-color: #4e4e4e;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    height: 50%;
    border: 3px solid;
    border-color: black;
    padding: 2px;
    align-items: center;
    border-radius: 50px;
    
}

p{
    text-decoration: none;
}

.imadiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    width: 400px; 
    height: 400px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

}

h1{
    text-align: center;
    color: rgb(116, 10, 10); 
    text-decoration: underline;
}

h3{
    text-align: center;
    color: rgb(116, 10, 10); 
    text-decoration: underline;

}

.description{
    font-size: 14px;
}