.portada{
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

.imagen{
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

p{
    font-size: 20px;
    color: rgb(116, 10, 10); 
    font-weight: bold;
}